body{
    background-color: silver;
}

.city-info {
    padding: 15px 
}

.container-fluid{
    height: 100%;
}

/* .no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  } */